# Mircea's standard .gitignore

*.ipch
*.opensdf
*.sdf
*.suo
*.obj
*.bak
*.user

/build
/.vs*
!/.vscode/
/.vscode/*
!/.vscode/ltex.dictionary.en-US.txt
/lib
/.editorconfig
/utf8.cppcheck
/docs
/.DS_Store
